<dialog
    #dialog
    (click)="onClick($event)"
    (keyup.escape)="close()"
    tabindex="0"
    type="modal"
    class="drawer"
>
    @if (title) {
        <h3>{{ title }}</h3>
        <hr />
    }
    <div
        class="modal-content"
        tabindex="0"
    >
        <ng-content></ng-content>
    </div>
    <hr />
    <div class="modal-actions">
        <app-button
            (click)="confirmEmit(false)"
            [variant]="'secondary'"
            >Annuler</app-button
        >
        <app-button
            type="submit"
            (click)="confirmEmit(true)"
            >{{ confirmButtonText }}</app-button
        >
    </div>
</dialog>
