.tag {
    font-size: 0.875rem;
    font-family: 'Inter';
    height: 2rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    background: var(--neutral-100);
    color: #363f72;
}

.dark {
    background: var(--neutral-700);
    color: #fcfcfd;
}
